.topdiv{
    background-color: black;
    position: fixed;
    width: 100%;
  
}
.heading{
    text-align:center;
}
body{
    margin:0;
    padding:0;
    background-color: rgba(0, 0, 0, 0.41);
}
ul{
    list-style-type: none;
    float: right;
  
}
li{
    display: inline-block;
    color:white;
    padding-right:20px;
}
a{
    text-decoration: none;
    color:white;
}
.centerdiv{
    flex-direction: column;
    margin:50px;
}
.firstcont{
    text-align: center;
    float:left;
    margin:30px;
}
.seccont{
    text-align: center;
    float:left;
    margin:30px;
}
.thirdcont{
   text-align: center;
    float:left;
    margin:30px;
}
.homepageimg{
    height:340px;
    width:330px;
    border-radius:50%;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

/* burgers page */

.subpageimg{
    height:340px;
    width:330px;
    
    box-shadow:  0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.contbox{
    text-align: center;
    float:left;
    width:300px;
    margin: 10px;;
}
.content{
    background-color:white;
}
.subfirstcont{
    text-align: center;
    float:left;
    margin:15px;
    background-color:white;
    width:30%;
}
h1{
    text-align:center;
}